{% extends 'partials/_base.html' %}
{% block content %}

/       apps.base.views.index   base:index

/anamnese/      <br>
/anamnese/criar/        <br>
/anamnese/deletar/<int:pk>/    <br>
/anamnese/detalhar/<int:pk>/   <br>
/anamnese/editar/<int:pk>/     <br>
<br>
/autenticacao/  <br>
/autenticacao/criar/   <br>
/autenticacao/deletar/  <br>
/autenticacao/detalhar/ <br>
/autenticacao/editar/   <br>
/autenticacao/login/    <br>
/autenticacao/logout/   <br>
<br>
/despesas/      <br>
/despesas/criar/        <br>
/despesas/deletar/<pk>/ <br>
/despesas/detalhes/<pk>/       <br>
/despesas/editar/<pk>/  <br>
<br>
/pacientes/     <br>
/pacientes/cadastrar/   <br>
/pacientes/deletar/<pk>/       <br>
/pacientes/detalhar/<pk>/      <br>
/pacientes/editar/<pk>/<br>
    <br>
/vendas/        <br>
/vendas/criar/  <br>
/vendas/deletar/<pk>/   <br>
/vendas/detalhes/<pk>/  <br>
/vendas/editar/<pk>/    <br>


{% endblock %}